.portlet-title .caption .xyz {
  font-size: 1em !important;
  margin-top: 1px !important;
  margin-right: 10px !important;
}

.portlet > .portlet-title > .caption {
  font-size: 16px !important;
}

.p1-b {
  font-size: 12px !important;
}

.p2-title {
  font-size: 13px !important;
  font-weight: bold;
}
